In [1]:
import os
import re
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

DATA_PATH = './datas/data.csv'

data = pd.read_csv(DATA_PATH)
data.head()

   Unnamed: 0  NO.    判明日   年代   性別  居住地
0           0  418    調査中  調査中  調査中  調査中
1           1  417    調査中  調査中  調査中  調査中
2           2  416  4月12日  40代   男性  越谷市
3           3  415  4月12日  50代   男性  川越市
4           4  414  4月12日  50代   女性  川越市